<table>
    <tr>
        <td width="500">
            <div id="input">
                <div id="description"><h5>Lock the monster</h5><br>
                    <p>Fill in the missing parts of equations to lock the monster in his cage</p>
                </div>
                <div>
                    <div class="paddedView"><h4>{{'easyComplexity' | translate}}</h4></div>
                    <div class="complexityItem">
                        <input type="radio"
                               ng-model="monsterController.easyComplexity" value="1"
                               ng-change="monsterController.changeComplexity()">
                        {{'easyComplexityEasy' | translate}}
                        <div class="tooltip" ng-mouseover="">?
                            <p class="tooltiptext">{{'easyComplexityEasyTooltip' | translate}}</p>
                        </div>
                    </div>

                    <div class="complexityItem">
                        <input type="radio"
                               ng-model="monsterController.easyComplexity" value="2"
                               ng-change="monsterController.changeComplexity()">
                        {{'easyComplexityMedium' | translate}}
                        <div class="tooltip" ng-mouseover="">?
                            <p class="tooltiptext">{{'easyComplexityMediumTooltip' | translate}}</p>
                        </div>
                    </div>

                    <div class="complexityItem">
                        <input type="radio"
                               ng-model="monsterController.easyComplexity" value="3"
                               ng-change="monsterController.changeComplexity()"> {{'easyComplexityHard' | translate}}
                        <div class="tooltip" ng-mouseover="">?
                            <p class="tooltiptext">{{'easyComplexityHardTooltip' | translate}}</p>
                        </div>
                    </div>

                    <div class="complexityItem">
                        <input type="radio" ng-model="monsterController.easyComplexity" value="100"
                               ng-change="monsterController.changeComplexity()">{{'advancedComplexity' | translate}}
                    </div>

                    <div id="advancedComplexity" ng-show="monsterController.easyComplexity==='100'">
                        <table id="complexityTable"><tr>
                            <td><h5>{{'numberComplexity' | translate}}</h5><br>
                                <p><input type="radio" ng-model="monsterController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="10">0-10</p><br>
                                <p><input type="radio" ng-model="monsterController.advancedComplexity.complexity" ng-change="mapController.changeComplexity()" value="25">0-25</p><br>
                            </td>
                            <td><div id="equationsAmountChoice"><h5>{{'equationsAmount' | translate}}</h5><br>
                                <p><input type="radio" ng-model="monsterController.advancedComplexity.equationsAmount" value="6">6</p><br>
                                <p><input type="radio" ng-model="monsterController.advancedComplexity.equationsAmount" value="8">8</p><br>
                                <p><input type="radio"ng-model="monsterController.advancedComplexity.equationsAmount" value="10">10</p><br>
                            </div>
                            </td>
                            <td><h5>{{'operations' | translate}}</h5><br>
                                <div id="operationsChoice" ng-repeat="operation in monsterController.advancedComplexity.operations">
                                    <p><input type="checkbox" ng-change="monsterController.alterOperations()"
                                              value="{{operation.code}}" ng-model="operation.selected" > {{operation.value}} </p><br>
                                </div>
                            </td>
                        </tr>
                            <tr>
                        </table>
                    </div>
                </div>

                <div id="generateButton">
                    <button ng-click="monsterController.createEquations()">{{'reset' | translate}}</button>
                </div>
            </div>


        </td>

        <td>
            <div id="output"><p>Output canvas<br></p>
                <p>{{monsterController.resultEquations}}</p></div>
        </td>
