<table><tr><td width="500">
  <div id="input" ><div id="description"><h5>Lock the monster</h5><br>
    <p>Fill in the missing parts of equations to lock the monster in his cage</p>
  </div>
  <div id="settings">
    <h6>Settings</h6><br>
    <p><input type="radio">Option 1</input></p>
    <p><input type="radio">Option 2</input></p>
    <p><input type="radio">Option 3</input></p>
  </div>
  <div id="generateButton"><button>GENERATE</button></div>
</div>

<div id="printSettings"><h5>Print settings</h5><br>
  <p><input type="radio">Print Option 1</input></p>
  <p><input type="radio">Print Option 2</input></p>
  <p><input type="radio">Print Option 3</input></p>
  <button>{{'save' | translate}}</button> <button>{{'reset' | translate}}</button>

</div></td>

  <td><div id="output" ><p>Output canvas</p></div></td>
